*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

html {
    min-height: 100%;
}

body {
    height: 750px;
    width: 100%;
}

header {
    position: absolute;
    top: 10px;
    display: flex;
    width: 100%;
    border-bottom: 3px solid #014421ff;
}

/*----- Header Styling -----*/
.top-material, .bottom-material {/*----- Creates the Maroon Border -----*/
    height: 20px;
    background-color: #7b1113;
}

.up-logo {
    display: flex;
    align-items: center;
    margin: 2vh 2vw;
    padding: 5px;
}

.up-logo p{
    margin: 0 2vw;
    padding: 5px;
    font: 500 18px "Poppins", arial, sans-serif;
    color: #014421ff;
    text-decoration: none;
}

.header-slogan p {
    font: 700 18px "Poppins", arial, sans-serif;
    text-align: right;
    margin: 6vh 2vw;
    padding: 5px;
    color: #014421ff;
}

.up-logo img {
    width: 80px;
    display: block;
    max-width: 100%;
    height: auto;
}

/* ----- Menu Styling ----- */
.menu-tab {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#text-black {
    color: black;
}

.menu-container {
    width: 250px;
    position: absolute;
    top: 150px;
    left: 10px;
}
.menu a {
    text-decoration: none;
}


.ui-widget {
    font: 400 16px "Poppins", Arial, Sans-serif !important;
    text-align: justify;
}

/* ---- Styling for the SOM content ---- */

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    border-bottom: 5px dotted #014421ff;
    border-width: 6px;
    padding-bottom: 10px;
    width: 50%;
    margin-left: 25%;
    color: #7b1113ff;
}

.college-logo{
    margin-top: 10px;
    margin-bottom: 15px;
    height: 200px;
}

.content-container{
    margin-left: 25%;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    width: 50%;
    border: 2px solid #014421ff;
}

.container-fluid{
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .header-slogan p {
        text-align: center;
    }
    
    .up-logo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 0;
    }

    .side-menu {
        display: flex;
        margin-left: 3vw;
        margin-bottom: 0;   
    }

    .w-25 {
        width: 100%!important;
    }
  }