*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

html {
    min-height: 100%;
}

body {
    height: 750px;
    width: 100%;
}

header {
    position: absolute;
    top: 10px;
    display: flex;
    width: 100%;
    border-bottom: 3px solid #014421ff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----- Header Styling -----*/
.top-material, .bottom-material { /*----- Creates the Maroon Border -----*/
    height: 20px;
    background-color: #7b1113;
}

.up-logo {
    display: flex;
    align-items: center;
    margin: 2vh 2vw;
    padding: 5px;
}

.up-logo p{
    margin: 0 2vw;
    padding: 5px;
    font: 500 18px "Poppins", arial, sans-serif;
    color: #014421ff;
    text-decoration: none;
}

.header-slogan p {
    font: 700 18px "Poppins", arial, sans-serif;
    text-align: right;
    margin: 6vh 2vw;
    padding: 5px;
    color: #014421ff;
}

.up-logo img {
    width: 80px;
}

/* ----- Menu Styling ----- */

.menu-tab {
    display: inline-block;
    justify-content: space-around;
}

#text-black {
    color: black;
}

.menu-container {
    display: inline-block;
}

.menu a {
    text-decoration: none;
}

/* ---- Styling for the Academic Programs content ---- */
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    border-bottom: 5px dotted #014421ff;
    border-width: 6px;
    padding-bottom: 10px;
    width: 50%;
    margin-left: 25%;
    color: #7b1113ff;
}

.ui-accordion{
    width: 50%;
    margin-left: 25%;
    padding-bottom: 20px;
    position: relative;
}

.ui-widget-content{
    border: 1px solid #014421ff !important;
}

.ui-accordion-header{
    border: 2px solid #014421ff;
    background: none;
    color: #7b1113ff;
}

.ui-state-active{
    background-color: #014421ff;
    color: white;
}

.academic-program-program-profile, 
.academic-program-job-opportunities{
    text-align: justify;
}

.ui-menu-item .ui-widget {
    font: 400 16px "Poppins", Arial, Sans-serif !important;
    text-align: justify;
}

/* Select Menu Styling */
#acad-units .ui-widget { 
    border:none;  
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: max-content;
}

#acad-units .ui-widget-header { 
    border:none; 
    display:none; 
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: max-content;
}

#acad-units .ui-widget-content { 
    border:none; 
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#acad-units .ui-widget { 
    border:none;  
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: max-content;
}
#acad-units-dropdown {
    border: none;
}

#acad-units {
    border: none;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
}

.container-fluid{
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .header-slogan p {
        text-align: center;
    }
    
    .up-logo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 0;
    }

    .side-menu {
        display: flex;
        margin-left: 3vw;
        margin-bottom: 0;   
    }

    .w-25 {
        width: 100%!important;
    }
  }